.venv/        # ignore the virtual environment folder
.cache/
.vscode/
build/        # ignore the build folder
lines.cpp
lines
some.cpp
.DS_Store
build/
lines.py
cleanup.sh
demo.txt
demo_.txt
demo
demo.cpp
demo.py
