body { direction: ltr; }
pre, code { direction: ltr; unicode-bidi: normal; text-align: left; font-variant-ligatures: none; }
pre { overflow-x: auto; max-width: 100%; }
pre code { white-space: pre; }
.rst-content pre, .md-content pre { tab-size: 4; }
.fa-keyword { color: #a126a1; font-weight: 600; }
.fa-string { color: #a31515; }
.fa-number { color: #116644; }
.fa-comment { color: #667785; font-style: italic; }
.fa-operator { color: #205a9e; }
